<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>console</headerType>
  <jar>C:\Users\nikol\Desktop\javaSE_Projects\JAVASE - ΜΑΘΗΜΑ 9.5 - JAR TA ΒΑΣΙΚΑ\Jar2Exe\IntelliJProjectManifest.jar</jar>
  <outfile>C:\Users\nikol\Desktop\javaSE_Projects\JAVASE - ΜΑΘΗΜΑ 9.5 - JAR TA ΒΑΣΙΚΑ\Jar2Exe\MyApp.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>15</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>